.comment {
  // background-color:rgb(230, 227, 228);
  padding-bottom: 1vh;
  border-bottom: 1px solid rgb(220, 217, 217);
  width:70vw;
  font-size: 3vh;
  padding: 2.5vh;
  .data{
    margin:0.5vw;
    display: inline;
    color:rgb(151, 149, 149);
    font-size: 1.1vw;
    .title{
      float: left;
    }
    .time{
      float: right;
    }
  }
  .content{
    margin-left:1vh;
    font-size: 1.4vw;
  }
  .child{
    padding-left: 2vw;
    .childReply{
      margin:2vh;
      border-bottom: 1px solid rgb(234, 231, 231);
      .content{
        margin:1vh;
      }
    }
  }
}