.corn_platform {
  text-align: center;
  margin: 0 auto;

  .corn_top {
    height: 50vh;
    background-image: url('@/assets/img/corn/corn.jpg');
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    padding-left: 5vw;
    padding-top: 10vh;

    .title {
      font-size: 7vh;
      color: black;
      text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.7);

      position: fixed; // 将标题固定在页面顶部
      top: 10vh;
      left: 5vw;
      z-index: 0; // 设置z-index，确保标题在图片之上
    }
  }

  .corn_table {
    z-index: 20; // 确保表格在标题上方
    position: relative;
    width: 90vw;
    box-sizing: border-box;
    // margin: -10vh auto 0 auto; // 将表格稍微上移，紧贴图片底部
    margin:0 auto;
    background-color: #fff;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    margin-top: 5vh;
  }
}
